<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="/stylesheets/style.css"><
/head>

<body>
	<h1>home</h1>
	<p>Welcome to the Appkin</p>
	<h2>Events</h2>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script><script src="/javascripts/global.js"></script>


</body>
</html>